![image info](https://raw.githubusercontent.com/davidzarruk/MIAD_ML_NLP_2023/main/images/banner_1.png)

# Proyecto 1 - Predicción de precios de vehículos usados

En este proyecto podrán poner en práctica sus conocimientos sobre modelos predictivos basados en árboles y ensambles, y sobre la disponibilización de modelos. Para su desasrrollo tengan en cuenta las instrucciones dadas en la "Guía del proyecto 1: Predicción de precios de vehículos usados".

**Entrega**: La entrega del proyecto deberán realizarla durante la semana 4. Sin embargo, es importante que avancen en la semana 3 en el modelado del problema y en parte del informe, tal y como se les indicó en la guía.

Para hacer la entrega, deberán adjuntar el informe autocontenido en PDF a la actividad de entrega del proyecto que encontrarán en la semana 4, y subir el archivo de predicciones a la [competencia de Kaggle](https://www.kaggle.com/t/b8be43cf89c540bfaf3831f2c8506614).

## Datos para la predicción de precios de vehículos usados

En este proyecto se usará el conjunto de datos de Car Listings de Kaggle, donde cada observación representa el precio de un automóvil teniendo en cuenta distintas variables como: año, marca, modelo, entre otras. El objetivo es predecir el precio del automóvil. Para más detalles puede visitar el siguiente enlace: [datos](https://www.kaggle.com/jpayne/852k-used-car-listings).

## Ejemplo predicción conjunto de test para envío a Kaggle

En esta sección encontrarán el formato en el que deben guardar los resultados de la predicción para que puedan subirlos a la competencia en Kaggle.

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Importación librerías
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Carga de datos de archivo .csv
dataTraining = pd.read_csv('https://raw.githubusercontent.com/davidzarruk/MIAD_ML_NLP_2023/main/datasets/dataTrain_carListings.zip')
dataTesting = pd.read_csv('https://raw.githubusercontent.com/davidzarruk/MIAD_ML_NLP_2023/main/datasets/dataTest_carListings.zip', index_col=0)

## Transformación información en Train

In [4]:
# Visualización datos de entrenamiento
dataTraining.head()

   Price  Year  Mileage State       Make      Model
0  34995  2017     9913    FL       Jeep   Wrangler
1  37895  2015    20578    OH  Chevrolet   Tahoe4WD
2  18430  2012    83716    TX        BMW      X5AWD
3  24681  2014    28729    OH   Cadillac  SRXLuxury
4  26998  2013    64032    CO       Jeep   Wrangler

#### Anaálisis variable Model:
Evidenciamos que la variable 'Model' puede tomar 525 valores diferentes, y muchos de ellos no representan más del 0,96% de las observaciones totales, por lo que nos permitimos renombrar dichos valores como "Otros", dado que los valores restantes (Silverado, Grand, Sierra, Accord, F-1504WD, Civic, Wrangler, 3, Santa, Jetta, FusionSE, EquinoxFWD, CamrySE y Super) representan más del 22% de las observaciones totales.

In [5]:
print(dataTraining['Model'].unique())
print(dataTraining['Model'].nunique())

['Wrangler' 'Tahoe4WD' 'X5AWD' 'SRXLuxury' '3' 'C-ClassC300' 'CamryL'
 'TacomaPreRunner' 'LaCrosse4dr' 'ChargerSXT' 'CamryLE' 'Jetta'
 'AcadiaFWD' 'EscapeSE' 'SonataLimited' 'Santa' 'Outlander' 'CruzeSedan'
 'Civic' 'CorollaL' '350Z2dr' 'EdgeSEL' 'F-1502WD' 'FocusSE'
 'PatriotSport' 'Accord' 'MustangGT' 'FusionHybrid' 'ColoradoCrew'
 'Wrangler4WD' 'CR-VEX-L' 'CTS' 'CherokeeLimited' 'Yukon' 'Elantra' 'New'
 'CorollaLE' 'Canyon4WD' 'Golf' 'Sonata4dr' 'Elantra4dr' 'PatriotLatitude'
 'Mazda35dr' 'Tacoma2WD' 'Corolla4dr' 'Silverado' 'TerrainFWD' 'EscapeFWD'
 'Grand' 'RAV4FWD' 'Liberty4WD' 'FocusTitanium' 'DurangoAWD' 'S60T5'
 'CivicLX' 'MuranoAWD' 'ForteEX' 'TraverseAWD' 'CamaroConvertible'
 'Sportage2WD' 'Pathfinder4WD' 'Highlander4dr' 'WRXSTI' 'Ram' 'F-150XLT'
 'SiennaXLE' 'LaCrosseFWD' 'RogueFWD' 'CamaroCoupe' 'JourneySXT'
 'AccordEX-L' 'Escape4WD' 'OptimaEX' 'FusionSE' '5' 'F-150SuperCrew'
 '200Limited' 'Malibu' 'CompassSport' 'G37' 'CanyonCrew' 'Malibu1LT'
 'MustangPremium' 'MustangBase' 'Sierra' 'FlexLimited' 'Tahoe2WD'
 'Transit' 'Outback2.5i' 'TucsonLimited' 'Rover' 'CayenneAWD' 'MalibuLT'
 'TucsonFWD' 'F-150FX2' 'Camaro2dr' 'Colorado4WD' 'SonataSE' 'ESES'
 'EnclavePremium' 'CR-VEX' 'F-150STX' 'Impreza' 'EquinoxFWD' 'Cooper'
 'Super' 'Passat4dr' '911' 'CivicEX' 'CamrySE' 'Highlander4WD'
 'Corvette2dr' '200S' 'PilotLX' 'SorentoEX' 'RioLX' 'ExplorerXLT'
 'CorvetteCoupe' 'EnclaveLeather' 'Avalanche4WD' 'TacomaBase' 'Versa5dr'
 'MKXFWD' 'SL-ClassSL500' 'VeracruzFWD' 'CorollaS' 'PriusTwo' 'CR-V2WD'
 'Lucerne4dr' '4Runner4dr' 'PilotTouring' 'CR-VLX' 'CompassLatitude'
 'Altima4dr' 'OptimaLX' 'Focus5dr' 'Charger4dr' 'AcadiaAWD' 'JourneyFWD'
 '7' 'RX' 'MalibuLS' 'LSLS' 'SportageLX' 'Yukon4WD' 'SorentoLX'
 'TiguanSEL' 'Camry4dr' 'F-1504WD' 'PriusBase' 'AccordLX' 'Q7quattro'
 'ExplorerLimited' '4RunnerSR5' 'OdysseyEX-L' 'C-ClassC' 'CX-9FWD'
 'JourneyAWD' 'Sorento2WD' 'F-250Lariat' 'Prius' 'TahoeLT' '25004WD'
 'Escalade4dr' 'GTI4dr' '4RunnerRWD' 'FX35AWD' 'XC90T6' 'Taurus4dr'
 'AvalonXLE' '300300S' 'G35' 'F-150Platinum' 'TerrainAWD' 'GXGX' 'MKXAWD'
 'Town' 'CamryXLE' 'VeracruzAWD' 'FusionS' 'Challenger2dr' 'Tundra'
 'Navigator4WD' 'Legacy3.6R' 'GS' 'E-ClassE350' 'Suburban2WD' 'A44dr'
 'RegalTurbo' 'Outback3.6R' '4Runner4WD' 'Legacy2.5i' '1' 'Yukon2WD'
 'Explorer' 'PilotEX-L' '200LX' 'M-ClassML350' 'RAV4XLE' 'WranglerSport'
 'Model' 'FJ' 'Titan' 'Titan4WD' 'FlexSEL' 'OdysseyTouring' 'SorentoSX'
 'RAV4Base' 'OdysseyEX' 'Explorer4WD' 'Mustang2dr' 'EdgeLimited'
 'FusionSEL' 'Yukon4dr' 'Touareg4dr' 'Matrix5dr' 'CTCT' 'CherokeeSport'
 '6' 'Maxima4dr' 'Frontier4WD' 'PriusThree' 'F-350XL' '500Pop' 'RDXAWD'
 'Tacoma4WD' 'Optima4dr' 'Q5quattro' 'X3xDrive28i' 'RDXFWD' 'X5xDrive35i'
 'Malibu4dr' 'ExpeditionXLT' 'Ranger2WD' 'Patriot4WD' 'Quest4dr'
 'TaurusSE' 'PathfinderS' 'Murano2WD' 'LS' 'SiennaLimited' 'ES' 'SiennaLE'
 'F-150Lariat' 'Titan2WD' 'Durango2WD' 'Tahoe4dr' 'Focus4dr' 'YarisBase'
 'TaurusLimited' 'RAV44WD' 'C-Class4dr' 'Soul+' 'TundraBase' 'Expedition'
 'ImpalaLT' 'SedonaLX' 'Sequoia4WD' 'ElantraLimited' '15002WD'
 'Suburban4WD' 'FiestaSE' '15004WD' 'TundraSR5' 'Camry' 'RAV4Limited'
 'RangerSuperCab' 'MDXAWD' 'RAV4LE' 'ChallengerR/T' 'FlexSE' 'ForteLX'
 'TraverseFWD' 'LibertySport' 'ISIS' 'Impala4dr' 'Tundra4WD' 'F-250XLT'
 'RXRX' 'Armada2WD' 'Frontier' 'WranglerRubicon' 'EquinoxAWD' 'PilotEX'
 'TiguanS' 'EscaladeAWD' 'DTS4dr' 'Pilot2WD' 'Express' 'PacificaLimited'
 'CanyonExtended' 'MX5' 'EscapeS' 'IS' 'C-ClassC350' 'Compass4WD'
 'SportageEX' 'Legacy' 'E-ClassE' 'Dakota4WD' '300300C' 'Forte'
 'SportageAWD' 'TaurusSEL' 'Xterra4WD' 'GSGS' 'Explorer4dr' 'F-150XL'
 'SportageSX' 'xB5dr' 'TundraLimited' 'CruzeLT' 'Wrangler2dr'
 'HighlanderFWD' 'Sprinter' 'Highlander' 'Prius5dr' 'CX-9Grand' 'CTS4dr'
 'Econoline' 'AccordEX' 'RAV4Sport' '35004WD' 'ChargerSE' 'OdysseyLX'
 'TucsonAWD' 'CX-7FWD' 'AccordLX-S' 'Navigator4dr' 'EscapeXLT' 'TiguanSE'
 'Cayman2dr' 'TaurusSHO' 'F-150FX4' 'Ranger4WD' 'OptimaSX' 'SequoiaSR5'
 'G64dr' 'HighlanderLimited' 'ExplorerFWD' 'F-350King' 'PriusFive'
 'Yaris4dr' 'PatriotLimited' 'Lancer4dr' 'HighlanderSE' 'CompassLimited'
 'S2000Manual' 'F-250King' 'Forester2.5X' 'Fusion4dr' 'Frontier2WD'
 'FocusST' 'Pathfinder2WD' 'Sentra4dr' 'XF4dr' 'F-250XL' 'PacificaTouring'
 'MustangDeluxe' 'Caliber4dr' 'GTI2dr' 'Mazda34dr' 'FocusS' 'Sienna5dr'
 'CR-V4WD' 'CX-9Touring' 'Mazda64dr' 'Forester4dr' '1500Tradesman'
 'MDX4WD' 'Escalade' 'TL4dr' 'CX-9AWD' 'Canyon2WD' 'A64dr' 'A8'
 'Armada4WD' 'Impreza2.0i' 'GX' 'QX564WD' 'CC4dr' 'MKZ4dr' 'Yaris'
 'FitSport' 'Regal4dr' 'Tundra2WD' 'X3AWD' 'SonicSedan' 'Cobalt4dr'
 'RidgelineRTL' 'CivicSi' 'AvalonLimited' 'XC90FWD' 'Outlander2WD'
 'RAV44dr' 'ColoradoExtended' 'ExpeditionLimited' '3004dr' '200Touring'
 'SC' 'X1xDrive28i' 'SonicHatch' 'GLI4dr' 'PilotSE' 'Savana'
 'RegalPremium' 'CR-VSE' 'RegalGS' 'XC90AWD' 'EdgeSport' 'PriusFour'
 'SiennaSE' '1500Laramie' '300Base' 'Pilot4WD' 'A34dr' 'HighlanderBase'
 'Expedition4WD' 'STS4dr' 'SoulBase' 'Xterra2WD' 'CT' 'tC2dr' 'Tiguan2WD'
 'CR-ZEX' 'MustangShelby' 'C702dr' 'WranglerX' 'WranglerSahara'
 'DurangoSXT' 'Sequoia4dr' 'Outlander4WD' 'Expedition2WD' 'Navigator'
 '9112dr' 'Vibe4dr' 'F-150King' '300Limited' 'XC60T6' 'CivicEX-L'
 'Avalanche2WD' 'F-350XLT' 'ExplorerBase' 'MuranoS' 'LXLX' 'EdgeSE'
 'ImpalaLS' 'Land' 'E-ClassE320' 'Milan4dr' 'Boxster2dr' 'RAV4' 'Eos2dr'
 'SedonaEX' 'xD5dr' 'Colorado2WD' 'Monte' 'Escape4dr' 'LX' 'FiestaS'
 'F-350Lariat' 'Galant4dr' 'TT2dr' 'Xterra4dr' 'SequoiaLimited'
 '4RunnerLimited' 'Genesis' 'Suburban4dr' 'EnclaveConvenience'
 'LaCrosseAWD' 'Versa4dr' 'Cobalt2dr' 'XC60FWD' 'F-150Limited' 'Dakota2WD'
 'S44dr' '4Runner2WD' 'Sedona4dr' 'RidgelineSport' 'TSXAutomatic'
 'ImprezaSport' 'SLK-ClassSLK350' 'Accent4dr' 'CorvetteConvertible'
 'Avalon4dr' 'Passat' '25002WD' 'ExplorerEddie' 'LibertyLimited' 'CTS-V'
 '4RunnerTrail' 'Eclipse3dr' 'Azera4dr' 'TahoeLS' 'Continental' 'XJ4dr'
 'ForteSX' 'SequoiaPlatinum' 'FocusSEL' 'Durango4dr' 'CamryBase' 'XC704dr'
 'S804dr' 'Element4WD' 'YarisLE' 'WRXBase' 'TLAutomatic' 'AvalonTouring'
 'XK2dr' 'PT' 'PathfinderSE' '300Touring' 'Navigator2WD' 'XC60AWD'
 'EscapeLimited' 'WRXLimited' 'AccordSE' 'QX562WD' 'Escalade2WD'
 'EscapeLImited' 'PriusOne' 'Element2WD' 'Excursion137"' 'WRXPremium'
 'RX-84dr']
525

In [6]:
valores_unicos = dataTraining['Model'].unique()
for valor in valores_unicos:
    porcentaje = (dataTraining['Model'] == valor).mean() * 100
    print(f"El {porcentaje:.2f}% de las observaciones tienen el valor '{valor}' en la columna 'Model'")

El 1.48% de las observaciones tienen el valor 'Wrangler' en la columna 'Model'
El 0.48% de las observaciones tienen el valor 'Tahoe4WD' en la columna 'Model'
El 0.15% de las observaciones tienen el valor 'X5AWD' en la columna 'Model'
El 0.32% de las observaciones tienen el valor 'SRXLuxury' en la columna 'Model'
El 1.38% de las observaciones tienen el valor '3' en la columna 'Model'
El 0.42% de las observaciones tienen el valor 'C-ClassC300' en la columna 'Model'
El 0.13% de las observaciones tienen el valor 'CamryL' en la columna 'Model'
El 0.14% de las observaciones tienen el valor 'TacomaPreRunner' en la columna 'Model'
El 0.12% de las observaciones tienen el valor 'LaCrosse4dr' en la columna 'Model'
El 0.27% de las observaciones tienen el valor 'ChargerSXT' en la columna 'Model'
El 0.62% de las observaciones tienen el valor 'CamryLE' en la columna 'Model'
El 1.28% de las observaciones tienen el valor 'Jetta' en la columna 'Model'
El 0.51% de las observaciones tienen el valor 'AcadiaFWD' en la columna 'Model'
El 0.67% de las observaciones tienen el valor 'EscapeSE' en la columna 'Model'
El 0.24% de las observaciones tienen el valor 'SonataLimited' en la columna 'Model'
El 1.23% de las observaciones tienen el valor 'Santa' en la columna 'Model'
El 0.20% de las observaciones tienen el valor 'Outlander' en la columna 'Model'
El 0.58% de las observaciones tienen el valor 'CruzeSedan' en la columna 'Model'
El 1.44% de las observaciones tienen el valor 'Civic' en la columna 'Model'
El 0.28% de las observaciones tienen el valor 'CorollaL' en la columna 'Model'
El 0.06% de las observaciones tienen el valor '350Z2dr' en la columna 'Model'
El 0.54% de las observaciones tienen el valor 'EdgeSEL' en la columna 'Model'
El 0.61% de las observaciones tienen el valor 'F-1502WD' en la columna 'Model'
El 0.49% de las observaciones tienen el valor 'FocusSE' en la columna 'Model'
El 0.39% de las observaciones tienen el valor 'PatriotSport' en la columna 'Model'
El 1.84% de las observaciones tienen el valor 'Accord' en la columna 'Model'
El 0.29% de las observaciones tienen el valor 'MustangGT' en la columna 'Model'
El 0.18% de las observaciones tienen el valor 'FusionHybrid' en la columna 'Model'
El 0.24% de las observaciones tienen el valor 'ColoradoCrew' en la columna 'Model'
El 0.25% de las observaciones tienen el valor 'Wrangler4WD' en la columna 'Model'
El 0.60% de las observaciones tienen el valor 'CR-VEX-L' en la columna 'Model'
El 0.44% de las observaciones tienen el valor 'CTS' en la columna 'Model'
El 0.28% de las observaciones tienen el valor 'CherokeeLimited' en la columna 'Model'
El 0.41% de las observaciones tienen el valor 'Yukon' en la columna 'Model'
El 0.23% de las observaciones tienen el valor 'Elantra' en la columna 'Model'
El 0.05% de las observaciones tienen el valor 'New' en la columna 'Model'
El 0.94% de las observaciones tienen el valor 'CorollaLE' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'Canyon4WD' en la columna 'Model'
El 0.25% de las observaciones tienen el valor 'Golf' en la columna 'Model'
El 0.46% de las observaciones tienen el valor 'Sonata4dr' en la columna 'Model'
El 0.55% de las observaciones tienen el valor 'Elantra4dr' en la columna 'Model'
El 0.28% de las observaciones tienen el valor 'PatriotLatitude' en la columna 'Model'
El 0.06% de las observaciones tienen el valor 'Mazda35dr' en la columna 'Model'
El 0.35% de las observaciones tienen el valor 'Tacoma2WD' en la columna 'Model'
El 0.24% de las observaciones tienen el valor 'Corolla4dr' en la columna 'Model'
El 4.52% de las observaciones tienen el valor 'Silverado' en la columna 'Model'
El 0.59% de las observaciones tienen el valor 'TerrainFWD' en la columna 'Model'
El 0.53% de las observaciones tienen el valor 'EscapeFWD' en la columna 'Model'
El 3.09% de las observaciones tienen el valor 'Grand' en la columna 'Model'
El 0.14% de las observaciones tienen el valor 'RAV4FWD' en la columna 'Model'
El 0.12% de las observaciones tienen el valor 'Liberty4WD' en la columna 'Model'
El 0.06% de las observaciones tienen el valor 'FocusTitanium' en la columna 'Model'
El 0.17% de las observaciones tienen el valor 'DurangoAWD' en la columna 'Model'
El 0.12% de las observaciones tienen el valor 'S60T5' en la columna 'Model'
El 0.39% de las observaciones tienen el valor 'CivicLX' en la columna 'Model'
El 0.42% de las observaciones tienen el valor 'MuranoAWD' en la columna 'Model'
El 0.12% de las observaciones tienen el valor 'ForteEX' en la columna 'Model'
El 0.30% de las observaciones tienen el valor 'TraverseAWD' en la columna 'Model'
El 0.18% de las observaciones tienen el valor 'CamaroConvertible' en la columna 'Model'
El 0.11% de las observaciones tienen el valor 'Sportage2WD' en la columna 'Model'
El 0.15% de las observaciones tienen el valor 'Pathfinder4WD' en la columna 'Model'
El 0.05% de las observaciones tienen el valor 'Highlander4dr' en la columna 'Model'
El 0.05% de las observaciones tienen el valor 'WRXSTI' en la columna 'Model'
El 0.73% de las observaciones tienen el valor 'Ram' en la columna 'Model'
El 0.79% de las observaciones tienen el valor 'F-150XLT' en la columna 'Model'
El 0.19% de las observaciones tienen el valor 'SiennaXLE' en la columna 'Model'
El 0.28% de las observaciones tienen el valor 'LaCrosseFWD' en la columna 'Model'
El 0.09% de las observaciones tienen el valor 'RogueFWD' en la columna 'Model'
El 0.72% de las observaciones tienen el valor 'CamaroCoupe' en la columna 'Model'
El 0.27% de las observaciones tienen el valor 'JourneySXT' en la columna 'Model'
El 0.31% de las observaciones tienen el valor 'AccordEX-L' en la columna 'Model'
El 0.39% de las observaciones tienen el valor 'Escape4WD' en la columna 'Model'
El 0.31% de las observaciones tienen el valor 'OptimaEX' en la columna 'Model'
El 1.25% de las observaciones tienen el valor 'FusionSE' en la columna 'Model'
El 0.67% de las observaciones tienen el valor '5' en la columna 'Model'
El 0.30% de las observaciones tienen el valor 'F-150SuperCrew' en la columna 'Model'
El 0.54% de las observaciones tienen el valor '200Limited' en la columna 'Model'
El 0.23% de las observaciones tienen el valor 'Malibu' en la columna 'Model'
El 0.31% de las observaciones tienen el valor 'CompassSport' en la columna 'Model'
El 0.36% de las observaciones tienen el valor 'G37' en la columna 'Model'
El 0.12% de las observaciones tienen el valor 'CanyonCrew' en la columna 'Model'
El 0.38% de las observaciones tienen el valor 'Malibu1LT' en la columna 'Model'
El 0.10% de las observaciones tienen el valor 'MustangPremium' en la columna 'Model'
El 0.13% de las observaciones tienen el valor 'MustangBase' en la columna 'Model'
El 2.10% de las observaciones tienen el valor 'Sierra' en la columna 'Model'
El 0.09% de las observaciones tienen el valor 'FlexLimited' en la columna 'Model'
El 0.35% de las observaciones tienen el valor 'Tahoe2WD' en la columna 'Model'
El 0.36% de las observaciones tienen el valor 'Transit' en la columna 'Model'
El 0.55% de las observaciones tienen el valor 'Outback2.5i' en la columna 'Model'
El 0.06% de las observaciones tienen el valor 'TucsonLimited' en la columna 'Model'
El 0.68% de las observaciones tienen el valor 'Rover' en la columna 'Model'
El 0.08% de las observaciones tienen el valor 'CayenneAWD' en la columna 'Model'
El 0.92% de las observaciones tienen el valor 'MalibuLT' en la columna 'Model'
El 0.21% de las observaciones tienen el valor 'TucsonFWD' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'F-150FX2' en la columna 'Model'
El 0.19% de las observaciones tienen el valor 'Camaro2dr' en la columna 'Model'
El 0.05% de las observaciones tienen el valor 'Colorado4WD' en la columna 'Model'
El 0.28% de las observaciones tienen el valor 'SonataSE' en la columna 'Model'
El 0.26% de las observaciones tienen el valor 'ESES' en la columna 'Model'
El 0.15% de las observaciones tienen el valor 'EnclavePremium' en la columna 'Model'
El 0.40% de las observaciones tienen el valor 'CR-VEX' en la columna 'Model'
El 0.07% de las observaciones tienen el valor 'F-150STX' en la columna 'Model'
El 0.32% de las observaciones tienen el valor 'Impreza' en la columna 'Model'

El 1.17% de las observaciones tienen el valor 'EquinoxFWD' en la columna 'Model'
El 0.69% de las observaciones tienen el valor 'Cooper' en la columna 'Model'
El 0.97% de las observaciones tienen el valor 'Super' en la columna 'Model'
El 0.60% de las observaciones tienen el valor 'Passat4dr' en la columna 'Model'
El 0.05% de las observaciones tienen el valor '911' en la columna 'Model'
El 0.16% de las observaciones tienen el valor 'CivicEX' en la columna 'Model'
El 0.99% de las observaciones tienen el valor 'CamrySE' en la columna 'Model'
El 0.09% de las observaciones tienen el valor 'Highlander4WD' en la columna 'Model'
El 0.26% de las observaciones tienen el valor 'Corvette2dr' en la columna 'Model'
El 0.13% de las observaciones tienen el valor '200S' en la columna 'Model'
El 0.07% de las observaciones tienen el valor 'PilotLX' en la columna 'Model'
El 0.13% de las observaciones tienen el valor 'SorentoEX' en la columna 'Model'
El 0.07% de las observaciones tienen el valor 'RioLX' en la columna 'Model'
El 0.68% de las observaciones tienen el valor 'ExplorerXLT' en la columna 'Model'
El 0.09% de las observaciones tienen el valor 'CorvetteCoupe' en la columna 'Model'
El 0.34% de las observaciones tienen el valor 'EnclaveLeather' en la columna 'Model'
El 0.10% de las observaciones tienen el valor 'Avalanche4WD' en la columna 'Model'
El 0.23% de las observaciones tienen el valor 'TacomaBase' en la columna 'Model'
El 0.08% de las observaciones tienen el valor 'Versa5dr' en la columna 'Model'
El 0.06% de las observaciones tienen el valor 'MKXFWD' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'SL-ClassSL500' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'VeracruzFWD' en la columna 'Model'
El 0.55% de las observaciones tienen el valor 'CorollaS' en la columna 'Model'
El 0.23% de las observaciones tienen el valor 'PriusTwo' en la columna 'Model'
El 0.11% de las observaciones tienen el valor 'CR-V2WD' en la columna 'Model'
El 0.11% de las observaciones tienen el valor 'Lucerne4dr' en la columna 'Model'
El 0.06% de las observaciones tienen el valor '4Runner4dr' en la columna 'Model'
El 0.13% de las observaciones tienen el valor 'PilotTouring' en la columna 'Model'
El 0.42% de las observaciones tienen el valor 'CR-VLX' en la columna 'Model'
El 0.23% de las observaciones tienen el valor 'CompassLatitude' en la columna 'Model'
El 0.36% de las observaciones tienen el valor 'Altima4dr' en la columna 'Model'
El 0.68% de las observaciones tienen el valor 'OptimaLX' en la columna 'Model'
El 0.05% de las observaciones tienen el valor 'Focus5dr' en la columna 'Model'
El 0.21% de las observaciones tienen el valor 'Charger4dr' en la columna 'Model'
El 0.44% de las observaciones tienen el valor 'AcadiaAWD' en la columna 'Model'
El 0.26% de las observaciones tienen el valor 'JourneyFWD' en la columna 'Model'
El 0.18% de las observaciones tienen el valor '7' en la columna 'Model'
El 0.65% de las observaciones tienen el valor 'RX' en la columna 'Model'
El 0.34% de las observaciones tienen el valor 'MalibuLS' en la columna 'Model'
El 0.07% de las observaciones tienen el valor 'LSLS' en la columna 'Model'
El 0.23% de las observaciones tienen el valor 'SportageLX' en la columna 'Model'
El 0.32% de las observaciones tienen el valor 'Yukon4WD' en la columna 'Model'
El 0.69% de las observaciones tienen el valor 'SorentoLX' en la columna 'Model'
El 0.05% de las observaciones tienen el valor 'TiguanSEL' en la columna 'Model'
El 0.42% de las observaciones tienen el valor 'Camry4dr' en la columna 'Model'
El 1.67% de las observaciones tienen el valor 'F-1504WD' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'PriusBase' en la columna 'Model'
El 0.24% de las observaciones tienen el valor 'AccordLX' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'Q7quattro' en la columna 'Model'
El 0.35% de las observaciones tienen el valor 'ExplorerLimited' en la columna 'Model'
El 0.18% de las observaciones tienen el valor '4RunnerSR5' en la columna 'Model'
El 0.43% de las observaciones tienen el valor 'OdysseyEX-L' en la columna 'Model'
El 0.22% de las observaciones tienen el valor 'C-ClassC' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'CX-9FWD' en la columna 'Model'
El 0.10% de las observaciones tienen el valor 'JourneyAWD' en la columna 'Model'
El 0.08% de las observaciones tienen el valor 'Sorento2WD' en la columna 'Model'
El 0.12% de las observaciones tienen el valor 'F-250Lariat' en la columna 'Model'
El 0.32% de las observaciones tienen el valor 'Prius' en la columna 'Model'
El 0.21% de las observaciones tienen el valor 'TahoeLT' en la columna 'Model'
El 0.32% de las observaciones tienen el valor '25004WD' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'Escalade4dr' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'GTI4dr' en la columna 'Model'
El 0.08% de las observaciones tienen el valor '4RunnerRWD' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'FX35AWD' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'XC90T6' en la columna 'Model'
El 0.08% de las observaciones tienen el valor 'Taurus4dr' en la columna 'Model'
El 0.17% de las observaciones tienen el valor 'AvalonXLE' en la columna 'Model'
El 0.14% de las observaciones tienen el valor '300300S' en la columna 'Model'
El 0.11% de las observaciones tienen el valor 'G35' en la columna 'Model'
El 0.12% de las observaciones tienen el valor 'F-150Platinum' en la columna 'Model'
El 0.34% de las observaciones tienen el valor 'TerrainAWD' en la columna 'Model'
El 0.09% de las observaciones tienen el valor 'GXGX' en la columna 'Model'
El 0.11% de las observaciones tienen el valor 'MKXAWD' en la columna 'Model'
El 0.79% de las observaciones tienen el valor 'Town' en la columna 'Model'
El 0.29% de las observaciones tienen el valor 'CamryXLE' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'VeracruzAWD' en la columna 'Model'
El 0.11% de las observaciones tienen el valor 'FusionS' en la columna 'Model'
El 0.17% de las observaciones tienen el valor 'Challenger2dr' en la columna 'Model'
El 0.67% de las observaciones tienen el valor 'Tundra' en la columna 'Model'
El 0.06% de las observaciones tienen el valor 'Navigator4WD' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'Legacy3.6R' en la columna 'Model'
El 0.20% de las observaciones tienen el valor 'GS' en la columna 'Model'
El 0.50% de las observaciones tienen el valor 'E-ClassE350' en la columna 'Model'
El 0.22% de las observaciones tienen el valor 'Suburban2WD' en la columna 'Model'
El 0.10% de las observaciones tienen el valor 'A44dr' en la columna 'Model'
El 0.06% de las observaciones tienen el valor 'RegalTurbo' en la columna 'Model'
El 0.08% de las observaciones tienen el valor 'Outback3.6R' en la columna 'Model'
El 0.18% de las observaciones tienen el valor '4Runner4WD' en la columna 'Model'
El 0.30% de las observaciones tienen el valor 'Legacy2.5i' en la columna 'Model'
El 0.05% de las observaciones tienen el valor '1' en la columna 'Model'
El 0.22% de las observaciones tienen el valor 'Yukon2WD' en la columna 'Model'
El 0.06% de las observaciones tienen el valor 'Explorer' en la columna 'Model'
El 0.34% de las observaciones tienen el valor 'PilotEX-L' en la columna 'Model'
El 0.05% de las observaciones tienen el valor '200LX' en la columna 'Model'
El 0.27% de las observaciones tienen el valor 'M-ClassML350' en la columna 'Model'
El 0.24% de las observaciones tienen el valor 'RAV4XLE' en la columna 'Model'
El 0.23% de las observaciones tienen el valor 'WranglerSport' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'Model' en la columna 'Model'
El 0.15% de las observaciones tienen el valor 'FJ' en la columna 'Model'
El 0.06% de las observaciones tienen el valor 'Titan' en la columna 'Model'
El 0.09% de las observaciones tienen el valor 'Titan4WD' en la columna 'Model'
El 0.12% de las observaciones tienen el valor 'FlexSEL' en la columna 'Model'
El 0.19% de las observaciones tienen el valor 'OdysseyTouring' en la columna 'Model'
El 0.09% de las observaciones tienen el valor 'SorentoSX' en la columna 'Model'
El 0.07% de las observaciones tienen el valor 'RAV4Base' en la columna 'Model'
El 0.09% de las observaciones tienen el valor 'OdysseyEX' en la columna 'Model'
El 0.31% de las observaciones tienen el valor 'Explorer4WD' en la columna 'Model'
El 0.30% de las observaciones tienen el valor 'Mustang2dr' en la columna 'Model'
El 0.20% de las observaciones tienen el valor 'EdgeLimited' en la columna 'Model'

El 0.05% de las observaciones tienen el valor 'FusionSEL' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'Yukon4dr' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'Touareg4dr' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'Matrix5dr' en la columna 'Model'
El 0.05% de las observaciones tienen el valor 'CTCT' en la columna 'Model'
El 0.08% de las observaciones tienen el valor 'CherokeeSport' en la columna 'Model'
El 0.12% de las observaciones tienen el valor '6' en la columna 'Model'
El 0.17% de las observaciones tienen el valor 'Maxima4dr' en la columna 'Model'
El 0.07% de las observaciones tienen el valor 'Frontier4WD' en la columna 'Model'
El 0.15% de las observaciones tienen el valor 'PriusThree' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'F-350XL' en la columna 'Model'
El 0.07% de las observaciones tienen el valor '500Pop' en la columna 'Model'
El 0.12% de las observaciones tienen el valor 'RDXAWD' en la columna 'Model'
El 0.40% de las observaciones tienen el valor 'Tacoma4WD' en la columna 'Model'
El 0.08% de las observaciones tienen el valor 'Optima4dr' en la columna 'Model'
El 0.08% de las observaciones tienen el valor 'Q5quattro' en la columna 'Model'
El 0.20% de las observaciones tienen el valor 'X3xDrive28i' en la columna 'Model'
El 0.08% de las observaciones tienen el valor 'RDXFWD' en la columna 'Model'
El 0.16% de las observaciones tienen el valor 'X5xDrive35i' en la columna 'Model'
El 0.20% de las observaciones tienen el valor 'Malibu4dr' en la columna 'Model'
El 0.09% de las observaciones tienen el valor 'ExpeditionXLT' en la columna 'Model'
El 0.06% de las observaciones tienen el valor 'Ranger2WD' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'Patriot4WD' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'Quest4dr' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'TaurusSE' en la columna 'Model'
El 0.12% de las observaciones tienen el valor 'PathfinderS' en la columna 'Model'
El 0.19% de las observaciones tienen el valor 'Murano2WD' en la columna 'Model'
El 0.11% de las observaciones tienen el valor 'LS' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'SiennaLimited' en la columna 'Model'
El 0.51% de las observaciones tienen el valor 'ES' en la columna 'Model'
El 0.14% de las observaciones tienen el valor 'SiennaLE' en la columna 'Model'
El 0.34% de las observaciones tienen el valor 'F-150Lariat' en la columna 'Model'
El 0.06% de las observaciones tienen el valor 'Titan2WD' en la columna 'Model'
El 0.12% de las observaciones tienen el valor 'Durango2WD' en la columna 'Model'
El 0.07% de las observaciones tienen el valor 'Tahoe4dr' en la columna 'Model'
El 0.14% de las observaciones tienen el valor 'Focus4dr' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'YarisBase' en la columna 'Model'
El 0.12% de las observaciones tienen el valor 'TaurusLimited' en la columna 'Model'
El 0.15% de las observaciones tienen el valor 'RAV44WD' en la columna 'Model'
El 0.21% de las observaciones tienen el valor 'C-Class4dr' en la columna 'Model'
El 0.31% de las observaciones tienen el valor 'Soul+' en la columna 'Model'
El 0.10% de las observaciones tienen el valor 'TundraBase' en la columna 'Model'
El 0.19% de las observaciones tienen el valor 'Expedition' en la columna 'Model'
El 0.24% de las observaciones tienen el valor 'ImpalaLT' en la columna 'Model'
El 0.29% de las observaciones tienen el valor 'SedonaLX' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'Sequoia4WD' en la columna 'Model'
El 0.18% de las observaciones tienen el valor 'ElantraLimited' en la columna 'Model'
El 0.11% de las observaciones tienen el valor '15002WD' en la columna 'Model'
El 0.32% de las observaciones tienen el valor 'Suburban4WD' en la columna 'Model'
El 0.12% de las observaciones tienen el valor 'FiestaSE' en la columna 'Model'
El 0.25% de las observaciones tienen el valor '15004WD' en la columna 'Model'
El 0.18% de las observaciones tienen el valor 'TundraSR5' en la columna 'Model'
El 0.15% de las observaciones tienen el valor 'Camry' en la columna 'Model'
El 0.16% de las observaciones tienen el valor 'RAV4Limited' en la columna 'Model'
El 0.05% de las observaciones tienen el valor 'RangerSuperCab' en la columna 'Model'
El 0.20% de las observaciones tienen el valor 'MDXAWD' en la columna 'Model'
El 0.19% de las observaciones tienen el valor 'RAV4LE' en la columna 'Model'
El 0.27% de las observaciones tienen el valor 'ChallengerR/T' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'FlexSE' en la columna 'Model'
El 0.30% de las observaciones tienen el valor 'ForteLX' en la columna 'Model'
El 0.41% de las observaciones tienen el valor 'TraverseFWD' en la columna 'Model'
El 0.06% de las observaciones tienen el valor 'LibertySport' en la columna 'Model'
El 0.23% de las observaciones tienen el valor 'ISIS' en la columna 'Model'
El 0.18% de las observaciones tienen el valor 'Impala4dr' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'Tundra4WD' en la columna 'Model'
El 0.08% de las observaciones tienen el valor 'F-250XLT' en la columna 'Model'
El 0.37% de las observaciones tienen el valor 'RXRX' en la columna 'Model'
El 0.08% de las observaciones tienen el valor 'Armada2WD' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'Frontier' en la columna 'Model'
El 0.06% de las observaciones tienen el valor 'WranglerRubicon' en la columna 'Model'
El 0.63% de las observaciones tienen el valor 'EquinoxAWD' en la columna 'Model'
El 0.08% de las observaciones tienen el valor 'PilotEX' en la columna 'Model'
El 0.09% de las observaciones tienen el valor 'TiguanS' en la columna 'Model'
El 0.11% de las observaciones tienen el valor 'EscaladeAWD' en la columna 'Model'
El 0.06% de las observaciones tienen el valor 'DTS4dr' en la columna 'Model'
El 0.12% de las observaciones tienen el valor 'Pilot2WD' en la columna 'Model'
El 0.27% de las observaciones tienen el valor 'Express' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'PacificaLimited' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'CanyonExtended' en la columna 'Model'
El 0.11% de las observaciones tienen el valor 'MX5' en la columna 'Model'
El 0.09% de las observaciones tienen el valor 'EscapeS' en la columna 'Model'
El 0.42% de las observaciones tienen el valor 'IS' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'C-ClassC350' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'Compass4WD' en la columna 'Model'
El 0.08% de las observaciones tienen el valor 'SportageEX' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'Legacy' en la columna 'Model'
El 0.11% de las observaciones tienen el valor 'E-ClassE' en la columna 'Model'
El 0.07% de las observaciones tienen el valor 'Dakota4WD' en la columna 'Model'
El 0.22% de las observaciones tienen el valor '300300C' en la columna 'Model'
El 0.08% de las observaciones tienen el valor 'Forte' en la columna 'Model'
El 0.10% de las observaciones tienen el valor 'SportageAWD' en la columna 'Model'
El 0.16% de las observaciones tienen el valor 'TaurusSEL' en la columna 'Model'
El 0.05% de las observaciones tienen el valor 'Xterra4WD' en la columna 'Model'
El 0.12% de las observaciones tienen el valor 'GSGS' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'Explorer4dr' en la columna 'Model'
El 0.25% de las observaciones tienen el valor 'F-150XL' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'SportageSX' en la columna 'Model'
El 0.07% de las observaciones tienen el valor 'xB5dr' en la columna 'Model'
El 0.08% de las observaciones tienen el valor 'TundraLimited' en la columna 'Model'
El 0.10% de las observaciones tienen el valor 'CruzeLT' en la columna 'Model'
El 0.08% de las observaciones tienen el valor 'Wrangler2dr' en la columna 'Model'
El 0.16% de las observaciones tienen el valor 'HighlanderFWD' en la columna 'Model'
El 0.06% de las observaciones tienen el valor 'Sprinter' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'Highlander' en la columna 'Model'
El 0.18% de las observaciones tienen el valor 'Prius5dr' en la columna 'Model'
El 0.05% de las observaciones tienen el valor 'CX-9Grand' en la columna 'Model'
El 0.09% de las observaciones tienen el valor 'CTS4dr' en la columna 'Model'

El 0.15% de las observaciones tienen el valor 'Econoline' en la columna 'Model'
El 0.10% de las observaciones tienen el valor 'AccordEX' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'RAV4Sport' en la columna 'Model'
El 0.07% de las observaciones tienen el valor '35004WD' en la columna 'Model'
El 0.18% de las observaciones tienen el valor 'ChargerSE' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'OdysseyLX' en la columna 'Model'
El 0.12% de las observaciones tienen el valor 'TucsonAWD' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'CX-7FWD' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'AccordLX-S' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'Navigator4dr' en la columna 'Model'
El 0.08% de las observaciones tienen el valor 'EscapeXLT' en la columna 'Model'
El 0.08% de las observaciones tienen el valor 'TiguanSE' en la columna 'Model'
El 0.01% de las observaciones tienen el valor 'Cayman2dr' en la columna 'Model'
El 0.05% de las observaciones tienen el valor 'TaurusSHO' en la columna 'Model'
El 0.13% de las observaciones tienen el valor 'F-150FX4' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'Ranger4WD' en la columna 'Model'
El 0.12% de las observaciones tienen el valor 'OptimaSX' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'SequoiaSR5' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'G64dr' en la columna 'Model'
El 0.14% de las observaciones tienen el valor 'HighlanderLimited' en la columna 'Model'
El 0.16% de las observaciones tienen el valor 'ExplorerFWD' en la columna 'Model'
El 0.01% de las observaciones tienen el valor 'F-350King' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'PriusFive' en la columna 'Model'
El 0.01% de las observaciones tienen el valor 'Yaris4dr' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'PatriotLimited' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'Lancer4dr' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'HighlanderSE' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'CompassLimited' en la columna 'Model'
El 0.01% de las observaciones tienen el valor 'S2000Manual' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'F-250King' en la columna 'Model'
El 0.08% de las observaciones tienen el valor 'Forester2.5X' en la columna 'Model'
El 0.27% de las observaciones tienen el valor 'Fusion4dr' en la columna 'Model'
El 0.07% de las observaciones tienen el valor 'Frontier2WD' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'FocusST' en la columna 'Model'
El 0.08% de las observaciones tienen el valor 'Pathfinder2WD' en la columna 'Model'
El 0.14% de las observaciones tienen el valor 'Sentra4dr' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'XF4dr' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'F-250XL' en la columna 'Model'
El 0.09% de las observaciones tienen el valor 'PacificaTouring' en la columna 'Model'
El 0.01% de las observaciones tienen el valor 'MustangDeluxe' en la columna 'Model'
El 0.05% de las observaciones tienen el valor 'Caliber4dr' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'GTI2dr' en la columna 'Model'
El 0.11% de las observaciones tienen el valor 'Mazda34dr' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'FocusS' en la columna 'Model'
El 0.16% de las observaciones tienen el valor 'Sienna5dr' en la columna 'Model'
El 0.19% de las observaciones tienen el valor 'CR-V4WD' en la columna 'Model'
El 0.05% de las observaciones tienen el valor 'CX-9Touring' en la columna 'Model'
El 0.05% de las observaciones tienen el valor 'Mazda64dr' en la columna 'Model'
El 0.09% de las observaciones tienen el valor 'Forester4dr' en la columna 'Model'
El 0.03% de las observaciones tienen el valor '1500Tradesman' en la columna 'Model'
El 0.07% de las observaciones tienen el valor 'MDX4WD' en la columna 'Model'
El 0.21% de las observaciones tienen el valor 'Escalade' en la columna 'Model'
El 0.07% de las observaciones tienen el valor 'TL4dr' en la columna 'Model'
El 0.07% de las observaciones tienen el valor 'CX-9AWD' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'Canyon2WD' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'A64dr' en la columna 'Model'
El 0.05% de las observaciones tienen el valor 'A8' en la columna 'Model'
El 0.11% de las observaciones tienen el valor 'Armada4WD' en la columna 'Model'
El 0.08% de las observaciones tienen el valor 'Impreza2.0i' en la columna 'Model'
El 0.17% de las observaciones tienen el valor 'GX' en la columna 'Model'
El 0.06% de las observaciones tienen el valor 'QX564WD' en la columna 'Model'
El 0.13% de las observaciones tienen el valor 'CC4dr' en la columna 'Model'
El 0.08% de las observaciones tienen el valor 'MKZ4dr' en la columna 'Model'
El 0.06% de las observaciones tienen el valor 'Yaris' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'FitSport' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'Regal4dr' en la columna 'Model'
El 0.05% de las observaciones tienen el valor 'Tundra2WD' en la columna 'Model'
El 0.07% de las observaciones tienen el valor 'X3AWD' en la columna 'Model'
El 0.20% de las observaciones tienen el valor 'SonicSedan' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'Cobalt4dr' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'RidgelineRTL' en la columna 'Model'
El 0.05% de las observaciones tienen el valor 'CivicSi' en la columna 'Model'
El 0.10% de las observaciones tienen el valor 'AvalonLimited' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'XC90FWD' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'Outlander2WD' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'RAV44dr' en la columna 'Model'
El 0.06% de las observaciones tienen el valor 'ColoradoExtended' en la columna 'Model'
El 0.08% de las observaciones tienen el valor 'ExpeditionLimited' en la columna 'Model'
El 0.15% de las observaciones tienen el valor '3004dr' en la columna 'Model'
El 0.05% de las observaciones tienen el valor '200Touring' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'SC' en la columna 'Model'
El 0.09% de las observaciones tienen el valor 'X1xDrive28i' en la columna 'Model'
El 0.07% de las observaciones tienen el valor 'SonicHatch' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'GLI4dr' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'PilotSE' en la columna 'Model'
El 0.08% de las observaciones tienen el valor 'Savana' en la columna 'Model'
El 0.06% de las observaciones tienen el valor 'RegalPremium' en la columna 'Model'
El 0.05% de las observaciones tienen el valor 'CR-VSE' en la columna 'Model'
El 0.01% de las observaciones tienen el valor 'RegalGS' en la columna 'Model'
El 0.09% de las observaciones tienen el valor 'XC90AWD' en la columna 'Model'
El 0.10% de las observaciones tienen el valor 'EdgeSport' en la columna 'Model'
El 0.11% de las observaciones tienen el valor 'PriusFour' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'SiennaSE' en la columna 'Model'
El 0.11% de las observaciones tienen el valor '1500Laramie' en la columna 'Model'
El 0.03% de las observaciones tienen el valor '300Base' en la columna 'Model'
El 0.19% de las observaciones tienen el valor 'Pilot4WD' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'A34dr' en la columna 'Model'
El 0.07% de las observaciones tienen el valor 'HighlanderBase' en la columna 'Model'
El 0.06% de las observaciones tienen el valor 'Expedition4WD' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'STS4dr' en la columna 'Model'
El 0.13% de las observaciones tienen el valor 'SoulBase' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'Xterra2WD' en la columna 'Model'
El 0.09% de las observaciones tienen el valor 'CT' en la columna 'Model'

El 0.07% de las observaciones tienen el valor 'tC2dr' en la columna 'Model'
El 0.05% de las observaciones tienen el valor 'Tiguan2WD' en la columna 'Model'
El 0.01% de las observaciones tienen el valor 'CR-ZEX' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'MustangShelby' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'C702dr' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'WranglerX' en la columna 'Model'
El 0.07% de las observaciones tienen el valor 'WranglerSahara' en la columna 'Model'
El 0.08% de las observaciones tienen el valor 'DurangoSXT' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'Sequoia4dr' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'Outlander4WD' en la columna 'Model'
El 0.05% de las observaciones tienen el valor 'Expedition2WD' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'Navigator' en la columna 'Model'
El 0.05% de las observaciones tienen el valor '9112dr' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'Vibe4dr' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'F-150King' en la columna 'Model'
El 0.07% de las observaciones tienen el valor '300Limited' en la columna 'Model'
El 0.06% de las observaciones tienen el valor 'XC60T6' en la columna 'Model'
El 0.06% de las observaciones tienen el valor 'CivicEX-L' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'Avalanche2WD' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'F-350XLT' en la columna 'Model'
El 0.10% de las observaciones tienen el valor 'ExplorerBase' en la columna 'Model'
El 0.01% de las observaciones tienen el valor 'MuranoS' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'LXLX' en la columna 'Model'
El 0.11% de las observaciones tienen el valor 'EdgeSE' en la columna 'Model'
El 0.10% de las observaciones tienen el valor 'ImpalaLS' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'Land' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'E-ClassE320' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'Milan4dr' en la columna 'Model'
El 0.05% de las observaciones tienen el valor 'Boxster2dr' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'RAV4' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'Eos2dr' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'SedonaEX' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'xD5dr' en la columna 'Model'
El 0.05% de las observaciones tienen el valor 'Colorado2WD' en la columna 'Model'
El 0.01% de las observaciones tienen el valor 'Monte' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'Escape4dr' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'LX' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'FiestaS' en la columna 'Model'
El 0.08% de las observaciones tienen el valor 'F-350Lariat' en la columna 'Model'
El 0.01% de las observaciones tienen el valor 'Galant4dr' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'TT2dr' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'Xterra4dr' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'SequoiaLimited' en la columna 'Model'
El 0.08% de las observaciones tienen el valor '4RunnerLimited' en la columna 'Model'
El 0.11% de las observaciones tienen el valor 'Genesis' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'Suburban4dr' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'EnclaveConvenience' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'LaCrosseAWD' en la columna 'Model'
El 0.05% de las observaciones tienen el valor 'Versa4dr' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'Cobalt2dr' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'XC60FWD' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'F-150Limited' en la columna 'Model'
El 0.05% de las observaciones tienen el valor 'Dakota2WD' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'S44dr' en la columna 'Model'
El 0.02% de las observaciones tienen el valor '4Runner2WD' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'Sedona4dr' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'RidgelineSport' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'TSXAutomatic' en la columna 'Model'
El 0.01% de las observaciones tienen el valor 'ImprezaSport' en la columna 'Model'
El 0.01% de las observaciones tienen el valor 'SLK-ClassSLK350' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'Accent4dr' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'CorvetteConvertible' en la columna 'Model'
El 0.10% de las observaciones tienen el valor 'Avalon4dr' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'Passat' en la columna 'Model'
El 0.02% de las observaciones tienen el valor '25002WD' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'ExplorerEddie' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'LibertyLimited' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'CTS-V' en la columna 'Model'
El 0.02% de las observaciones tienen el valor '4RunnerTrail' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'Eclipse3dr' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'Azera4dr' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'TahoeLS' en la columna 'Model'
El 0.01% de las observaciones tienen el valor 'Continental' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'XJ4dr' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'ForteSX' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'SequoiaPlatinum' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'FocusSEL' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'Durango4dr' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'CamryBase' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'XC704dr' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'S804dr' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'Element4WD' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'YarisLE' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'WRXBase' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'TLAutomatic' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'AvalonTouring' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'XK2dr' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'PT' en la columna 'Model'
El 0.01% de las observaciones tienen el valor 'PathfinderSE' en la columna 'Model'
El 0.01% de las observaciones tienen el valor '300Touring' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'Navigator2WD' en la columna 'Model'
El 0.04% de las observaciones tienen el valor 'XC60AWD' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'EscapeLimited' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'WRXLimited' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'AccordSE' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'QX562WD' en la columna 'Model'
El 0.03% de las observaciones tienen el valor 'Escalade2WD' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'EscapeLImited' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'PriusOne' en la columna 'Model'
El 0.01% de las observaciones tienen el valor 'Element2WD' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'Excursion137"' en la columna 'Model'
El 0.02% de las observaciones tienen el valor 'WRXPremium' en la columna 'Model'
El 0.01% de las observaciones tienen el valor 'RX-84dr' en la columna 'Model'

In [7]:
# Calculamos el porcentaje de observaciones para cada valor único en la columna 'Model'
porcentajes = dataTraining['Model'].value_counts(normalize=True) * 100

# Renombra,os los valores que no representen más del 0.96% de las observaciones como 'Otro'
valores_permitidos = porcentajes[porcentajes > 0.96].index
dataTraining['Model'] = dataTraining['Model'].where(dataTraining['Model'].isin(valores_permitidos), 'Otro')

#### Análisis variable Make:
Similar a lo acontecido con la variabnle 'Model', evidenciamos que la variable 'Make' puede tomar 38 valores diferentes, y muchos de ellos no representan más del 2,0% de las observaciones totales, por lo que nos permitimos renombrar dichos valores como "Otro", dado que los valores restantes representan más del 87% de las observaciones totales.

In [8]:
print(dataTraining['Make'].unique())
print(dataTraining['Make'].nunique())

['Jeep' 'Chevrolet' 'BMW' 'Cadillac' 'Mercedes-Benz' 'Toyota' 'Buick'
 'Dodge' 'Volkswagen' 'GMC' 'Ford' 'Hyundai' 'Mitsubishi' 'Honda' 'Nissan'
 'Mazda' 'Volvo' 'Kia' 'Subaru' 'Chrysler' 'INFINITI' 'Land' 'Porsche'
 'Lexus' 'MINI' 'Lincoln' 'Audi' 'Ram' 'Mercury' 'Tesla' 'FIAT' 'Acura'
 'Scion' 'Pontiac' 'Jaguar' 'Bentley' 'Suzuki' 'Freightliner']
38

In [9]:
valores_unicos = dataTraining['Make'].unique()
for valor in valores_unicos:
    porcentaje = (dataTraining['Make'] == valor).mean() * 100
    print(f"El {porcentaje:.2f}% de las observaciones tienen el valor '{valor}' en la columna 'Make'")

El 6.09% de las observaciones tienen el valor 'Jeep' en la columna 'Make'
El 14.60% de las observaciones tienen el valor 'Chevrolet' en la columna 'Make'
El 3.08% de las observaciones tienen el valor 'BMW' en la columna 'Make'
El 1.35% de las observaciones tienen el valor 'Cadillac' en la columna 'Make'
El 1.89% de las observaciones tienen el valor 'Mercedes-Benz' en la columna 'Make'
El 11.49% de las observaciones tienen el valor 'Toyota' en la columna 'Make'
El 1.21% de las observaciones tienen el valor 'Buick' en la columna 'Make'
El 4.04% de las observaciones tienen el valor 'Dodge' en la columna 'Make'
El 2.78% de las observaciones tienen el valor 'Volkswagen' en la columna 'Make'
El 5.21% de las observaciones tienen el valor 'GMC' en la columna 'Make'
El 15.72% de las observaciones tienen el valor 'Ford' en la columna 'Make'
El 3.76% de las observaciones tienen el valor 'Hyundai' en la columna 'Make'
El 0.32% de las observaciones tienen el valor 'Mitsubishi' en la columna 'Make'
El 8.30% de las observaciones tienen el valor 'Honda' en la columna 'Make'
El 2.64% de las observaciones tienen el valor 'Nissan' en la columna 'Make'
El 0.58% de las observaciones tienen el valor 'Mazda' en la columna 'Make'
El 0.43% de las observaciones tienen el valor 'Volvo' en la columna 'Make'
El 4.09% de las observaciones tienen el valor 'Kia' en la columna 'Make'
El 1.70% de las observaciones tienen el valor 'Subaru' en la columna 'Make'
El 2.26% de las observaciones tienen el valor 'Chrysler' en la columna 'Make'
El 0.60% de las observaciones tienen el valor 'INFINITI' en la columna 'Make'
El 0.68% de las observaciones tienen el valor 'Land' en la columna 'Make'
El 0.24% de las observaciones tienen el valor 'Porsche' en la columna 'Make'
El 3.42% de las observaciones tienen el valor 'Lexus' en la columna 'Make'
El 0.69% de las observaciones tienen el valor 'MINI' en la columna 'Make'
El 0.45% de las observaciones tienen el valor 'Lincoln' en la columna 'Make'
El 0.36% de las observaciones tienen el valor 'Audi' en la columna 'Make'
El 0.90% de las observaciones tienen el valor 'Ram' en la columna 'Make'
El 0.07% de las observaciones tienen el valor 'Mercury' en la columna 'Make'
El 0.04% de las observaciones tienen el valor 'Tesla' en la columna 'Make'
El 0.07% de las observaciones tienen el valor 'FIAT' en la columna 'Make'
El 0.60% de las observaciones tienen el valor 'Acura' en la columna 'Make'
El 0.16% de las observaciones tienen el valor 'Scion' en la columna 'Make'
El 0.08% de las observaciones tienen el valor 'Pontiac' en la columna 'Make'
El 0.08% de las observaciones tienen el valor 'Jaguar' en la columna 'Make'
El 0.01% de las observaciones tienen el valor 'Bentley' en la columna 'Make'
El 0.01% de las observaciones tienen el valor 'Suzuki' en la columna 'Make'
El 0.00% de las observaciones tienen el valor 'Freightliner' en la columna 'Make'

In [10]:
# Calculamos el porcentaje de observaciones para cada valor único en la columna 'Model'
porcentajes = dataTraining['Make'].value_counts(normalize=True) * 100

# Renombra,os los valores que no representen más del 2% de las observaciones como 'Otro'
valores_permitidos = porcentajes[porcentajes > 2].index
dataTraining['Make'] = dataTraining['Make'].where(dataTraining['Make'].isin(valores_permitidos), 'Otro')

### Transformación variables en dummies:

In [15]:
# convertimos la columna 'Make' en variables dummy
dummies = pd.get_dummies(dataTraining['Make'], prefix='Make')
dataTraining = pd.concat([dataTraining, dummies], axis=1)
dataTraining = dataTraining.drop('Make', axis=1)
# Muestra el resultado
print(dataTraining)

        Price  Year  Mileage State        Make       Model  Make_BMW  \
0       34995  2017     9913    FL        Jeep    Wrangler         0
1       37895  2015    20578    OH   Chevrolet        Otro         0
2       18430  2012    83716    TX         BMW        Otro         1
3       24681  2014    28729    OH        Otro        Otro         0
4       26998  2013    64032    CO        Jeep    Wrangler         0
...       ...   ...      ...   ...         ...         ...       ...
399995  29900  2015    25287    TX       Lexus        Otro         0
399996  17688  2015    17677    MI   Chevrolet  EquinoxFWD         0
399997  24907  2014    66688    NC        Otro        Otro         0
399998  11498  2014    37872    IN  Volkswagen       Jetta         0
399999  16900  2014    78606    CO      Nissan        Otro         0

        Make_Chevrolet  Make_Chrysler  Make_Dodge  ...  Make_GMC  Make_Honda  \
0                    0              0           0  ...         0           0
1                    1              0           0  ...         0           0
2                    0              0           0  ...         0           0
3                    0              0           0  ...         0           0
4                    0              0           0  ...         0           0
...                ...            ...         ...  ...       ...         ...
399995               0              0           0  ...         0           0
399996               1              0           0  ...         0           0
399997               0              0           0  ...         0           0
399998               0              0           0  ...         0           0
399999               0              0           0  ...         0           0

        Make_Hyundai  Make_Jeep  Make_Kia  Make_Lexus  Make_Nissan  Make_Otro  \
0                  0          1         0           0            0          0
1                  0          0         0           0            0          0
2                  0          0         0           0            0          0
3                  0          0         0           0            0          1
4                  0          1         0           0            0          0
...              ...        ...       ...         ...          ...        ...
399995             0          0         0           1            0          0
399996             0          0         0           0            0          0
399997             0          0         0           0            0          1
399998             0          0         0           0            0          0
399999             0          0         0           0            1          0

        Make_Toyota  Make_Volkswagen
0                 0                0
1                 0                0
2                 0                0
3                 0                0
4                 0                0
...             ...              ...
399995            0                0
399996            0                0
399997            0                0
399998            0                1
399999            0                0

[400000 rows x 21 columns]

In [18]:
# convertimos la columna 'Model' en variables dummy
dummies = pd.get_dummies(dataTraining['Model'], prefix='Model')
dataTraining = pd.concat([dataTraining, dummies], axis=1)
dataTraining = dataTraining.drop('Model', axis=1)
# Muestra el resultado
print(dataTraining)

        Price  Year  Mileage State  Make_BMW  Make_Chevrolet  Make_Chrysler  \
0       34995  2017     9913    FL         0               0              0
1       37895  2015    20578    OH         0               1              0
2       18430  2012    83716    TX         1               0              0
3       24681  2014    28729    OH         0               0              0
4       26998  2013    64032    CO         0               0              0
...       ...   ...      ...   ...       ...             ...            ...
399995  29900  2015    25287    TX         0               0              0
399996  17688  2015    17677    MI         0               1              0
399997  24907  2014    66688    NC         0               0              0
399998  11498  2014    37872    IN         0               0              0
399999  16900  2014    78606    CO         0               0              0

        Make_Dodge  Make_Ford  Make_GMC  ...  Model_F-1504WD  Model_FusionSE  \
0                0          0         0  ...               0               0
1                0          0         0  ...               0               0
2                0          0         0  ...               0               0
3                0          0         0  ...               0               0
4                0          0         0  ...               0               0
...            ...        ...       ...  ...             ...             ...
399995           0          0         0  ...               0               0
399996           0          0         0  ...               0               0
399997           0          0         0  ...               0               0
399998           0          0         0  ...               0               0
399999           0          0         0  ...               0               0

        Model_Grand  Model_Jetta  Model_Otro  Model_Santa  Model_Sierra  \
0                 0            0           0            0             0
1                 0            0           1            0             0
2                 0            0           1            0             0
3                 0            0           1            0             0
4                 0            0           0            0             0
...             ...          ...         ...          ...           ...
399995            0            0           1            0             0
399996            0            0           0            0             0
399997            0            0           1            0             0
399998            0            1           0            0             0
399999            0            0           1            0             0

        Model_Silverado  Model_Super  Model_Wrangler
0                     0            0               1
1                     0            0               0
2                     0            0               0
3                     0            0               0
4                     0            0               1
...                 ...          ...             ...
399995                0            0               0
399996                0            0               0
399997                0            0               0
399998                0            0               0
399999                0            0               0

[400000 rows x 34 columns]

In [19]:
# convertimos la columna 'Year' en variables dummy
dummies = pd.get_dummies(dataTraining['Year'], prefix='Year')
dataTraining = pd.concat([dataTraining, dummies], axis=1)
dataTraining = dataTraining.drop('Year', axis=1)
# Muestra el resultado
print(dataTraining)

        Price  Mileage State  Make_BMW  Make_Chevrolet  Make_Chrysler  \
0       34995     9913    FL         0               0              0
1       37895    20578    OH         0               1              0
2       18430    83716    TX         1               0              0
3       24681    28729    OH         0               0              0
4       26998    64032    CO         0               0              0
...       ...      ...   ...       ...             ...            ...
399995  29900    25287    TX         0               0              0
399996  17688    17677    MI         0               1              0
399997  24907    66688    NC         0               0              0
399998  11498    37872    IN         0               0              0
399999  16900    78606    CO         0               0              0

        Make_Dodge  Make_Ford  Make_GMC  Make_Honda  ...  Year_2009  \
0                0          0         0           0  ...          0
1                0          0         0           0  ...          0
2                0          0         0           0  ...          0
3                0          0         0           0  ...          0
4                0          0         0           0  ...          0
...            ...        ...       ...         ...  ...        ...
399995           0          0         0           0  ...          0
399996           0          0         0           0  ...          0
399997           0          0         0           0  ...          0
399998           0          0         0           0  ...          0
399999           0          0         0           0  ...          0

        Year_2010  Year_2011  Year_2012  Year_2013  Year_2014  Year_2015  \
0               0          0          0          0          0          0
1               0          0          0          0          0          1
2               0          0          1          0          0          0
3               0          0          0          0          1          0
4               0          0          0          1          0          0
...           ...        ...        ...        ...        ...        ...
399995          0          0          0          0          0          1
399996          0          0          0          0          0          1
399997          0          0          0          0          1          0
399998          0          0          0          0          1          0
399999          0          0          0          0          1          0

        Year_2016  Year_2017  Year_2018
0               0          1          0
1               0          0          0
2               0          0          0
3               0          0          0
4               0          0          0
...           ...        ...        ...
399995          0          0          0
399996          0          0          0
399997          0          0          0
399998          0          0          0
399999          0          0          0

[400000 rows x 55 columns]

In [20]:
# convertimos la columna 'State' en variables dummy
dummies = pd.get_dummies(dataTraining['State'], prefix='State')
dataTraining = pd.concat([dataTraining, dummies], axis=1)
dataTraining = dataTraining.drop('State', axis=1)
# Muestra el resultado
print(dataTraining)

        Price  Mileage  Make_BMW  Make_Chevrolet  Make_Chrysler  Make_Dodge  \
0       34995     9913         0               0              0           0
1       37895    20578         0               1              0           0
2       18430    83716         1               0              0           0
3       24681    28729         0               0              0           0
4       26998    64032         0               0              0           0
...       ...      ...       ...             ...            ...         ...
399995  29900    25287         0               0              0           0
399996  17688    17677         0               1              0           0
399997  24907    66688         0               0              0           0
399998  11498    37872         0               0              0           0
399999  16900    78606         0               0              0           0

        Make_Ford  Make_GMC  Make_Honda  Make_Hyundai  ...  State_ SD  \
0               0         0           0             0  ...          0
1               0         0           0             0  ...          0
2               0         0           0             0  ...          0
3               0         0           0             0  ...          0
4               0         0           0             0  ...          0
...           ...       ...         ...           ...  ...        ...
399995          0         0           0             0  ...          0
399996          0         0           0             0  ...          0
399997          0         0           0             0  ...          0
399998          0         0           0             0  ...          0
399999          0         0           0             0  ...          0

        State_ TN  State_ TX  State_ UT  State_ VA  State_ VT  State_ WA  \
0               0          0          0          0          0          0
1               0          0          0          0          0          0
2               0          1          0          0          0          0
3               0          0          0          0          0          0
4               0          0          0          0          0          0
...           ...        ...        ...        ...        ...        ...
399995          0          1          0          0          0          0
399996          0          0          0          0          0          0
399997          0          0          0          0          0          0
399998          0          0          0          0          0          0
399999          0          0          0          0          0          0

        State_ WI  State_ WV  State_ WY
0               0          0          0
1               0          0          0
2               0          0          0
3               0          0          0
4               0          0          0
...           ...        ...        ...
399995          0          0          0
399996          0          0          0
399997          0          0          0
399998          0          0          0
399999          0          0          0

[400000 rows x 105 columns]

## Transformación información en Test

In [11]:
# Visualización datos de test
dataTesting.head()

    Year  Mileage State    Make        Model
ID
0   2014    31909    MD  Nissan    MuranoAWD
1   2017     5362    FL    Jeep     Wrangler
2   2014    50300    OH    Ford  FlexLimited
3   2004   132160    WA     BMW            5
4   2015    25226    MA    Jeep        Grand

#### Análisis variable Model:
Realizamos el mismo procedimiento que con la variable en Train y todos las observaciones que no tomen los valores de los modelos más significativos (Silverado, Grand, Sierra, Accord, F-1504WD, Civic, Wrangler, 3, Santa, Jetta, FusionSE, EquinoxFWD, CamrySE y Super) las renombramos como 'Otro'.

In [12]:
# Calculamos el porcentaje de observaciones para cada valor único en la columna 'Model'
porcentajes = dataTesting['Model'].value_counts(normalize=True) * 100

# Renombra,os los valores que no representen más del 1% de las observaciones como 'Otro'
valores_permitidos = porcentajes[porcentajes > 1].index
dataTesting['Model'] = dataTesting['Model'].where(dataTesting['Model'].isin(valores_permitidos), 'Otro')

#### Análisis variable Make:
Realizamos el mismo procedimiento que con la variable en Train y todos las observaciones que no tomen los valores de los modelos más significativos (>2% de las observaciones totales) las renombramos como 'Otro'.

In [13]:
# Calculamos el porcentaje de observaciones para cada valor único en la columna 'Model'
porcentajes = dataTesting['Make'].value_counts(normalize=True) * 100

# Renombra,os los valores que no representen más del 2% de las observaciones como 'Otro'
valores_permitidos = porcentajes[porcentajes > 2].index
dataTesting['Make'] = dataTesting['Make'].where(dataTesting['Make'].isin(valores_permitidos), 'Otro')

### Transformación variables en dummies:

In [21]:
# convertimos la columna 'Make' en variables dummy
dummies = pd.get_dummies(dataTesting['Make'], prefix='Make')
dataTesting = pd.concat([dataTesting, dummies], axis=1)
dataTesting = dataTesting.drop('Make', axis=1)
# Muestra el resultado
print(dataTesting)

       Year  Mileage State     Model  Make_BMW  Make_Chevrolet  Make_Chrysler  \
ID
0      2014    31909    MD      Otro         0               0              0
1      2017     5362    FL  Wrangler         0               0              0
2      2014    50300    OH      Otro         0               0              0
3      2004   132160    WA      Otro         1               0              0
4      2015    25226    MA     Grand         0               0              0
...     ...      ...   ...       ...       ...             ...            ...
99995  2015    82719    TX      Otro         0               0              0
99996  2015    19711    UT      Otro         1               0              0
99997  2016    48049    CA      Otro         0               0              0
99998  2017    15306    CO      Otro         0               0              0
99999  2013    40393    TX      Otro         1               0              0

       Make_Dodge  Make_Ford  Make_GMC  Make_Honda  Make_Hyundai  Make_Jeep  \
ID
0               0          0         0           0             0          0
1               0          0         0           0             0          1
2               0          1         0           0             0          0
3               0          0         0           0             0          0
4               0          0         0           0             0          1
...           ...        ...       ...         ...           ...        ...
99995           0          0         1           0             0          0
99996           0          0         0           0             0          0
99997           0          0         0           0             0          0
99998           0          0         0           0             0          1
99999           0          0         0           0             0          0

       Make_Kia  Make_Lexus  Make_Nissan  Make_Otro  Make_Toyota  \
ID
0             0           0            1          0            0
1             0           0            0          0            0
2             0           0            0          0            0
3             0           0            0          0            0
4             0           0            0          0            0
...         ...         ...          ...        ...          ...
99995         0           0            0          0            0
99996         0           0            0          0            0
99997         0           0            1          0            0
99998         0           0            0          0            0
99999         0           0            0          0            0

       Make_Volkswagen
ID
0                    0
1                    0
2                    0
3                    0
4                    0
...                ...
99995                0
99996                0
99997                0
99998                0
99999                0

[100000 rows x 19 columns]

In [22]:
# convertimos la columna 'Model' en variables dummy
dummies = pd.get_dummies(dataTesting['Model'], prefix='Model')
dataTesting = pd.concat([dataTesting, dummies], axis=1)
dataTesting = dataTesting.drop('Model', axis=1)
# Muestra el resultado
print(dataTesting)

       Year  Mileage State  Make_BMW  Make_Chevrolet  Make_Chrysler  \
ID
0      2014    31909    MD         0               0              0
1      2017     5362    FL         0               0              0
2      2014    50300    OH         0               0              0
3      2004   132160    WA         1               0              0
4      2015    25226    MA         0               0              0
...     ...      ...   ...       ...             ...            ...
99995  2015    82719    TX         0               0              0
99996  2015    19711    UT         1               0              0
99997  2016    48049    CA         0               0              0
99998  2017    15306    CO         0               0              0
99999  2013    40393    TX         1               0              0

       Make_Dodge  Make_Ford  Make_GMC  Make_Honda  ...  Model_F-1504WD  \
ID                                                  ...
0               0          0         0           0  ...               0
1               0          0         0           0  ...               0
2               0          1         0           0  ...               0
3               0          0         0           0  ...               0
4               0          0         0           0  ...               0
...           ...        ...       ...         ...  ...             ...
99995           0          0         1           0  ...               0
99996           0          0         0           0  ...               0
99997           0          0         0           0  ...               0
99998           0          0         0           0  ...               0
99999           0          0         0           0  ...               0

       Model_FusionSE  Model_Grand  Model_Jetta  Model_Otro  Model_Santa  \
ID
0                   0            0            0           1            0
1                   0            0            0           0            0
2                   0            0            0           1            0
3                   0            0            0           1            0
4                   0            1            0           0            0
...               ...          ...          ...         ...          ...
99995               0            0            0           1            0
99996               0            0            0           1            0
99997               0            0            0           1            0
99998               0            0            0           1            0
99999               0            0            0           1            0

       Model_Sierra  Model_Silverado  Model_Super  Model_Wrangler
ID
0                 0                0            0               0
1                 0                0            0               1
2                 0                0            0               0
3                 0                0            0               0
4                 0                0            0               0
...             ...              ...          ...             ...
99995             0                0            0               0
99996             0                0            0               0
99997             0                0            0               0
99998             0                0            0               0
99999             0                0            0               0

[100000 rows x 33 columns]

In [23]:
# convertimos la columna 'Year' en variables dummy
dummies = pd.get_dummies(dataTesting['Year'], prefix='Year')
dataTesting = pd.concat([dataTesting, dummies], axis=1)
dataTesting = dataTesting.drop('Year', axis=1)
# Muestra el resultado
print(dataTesting)

       Mileage State  Make_BMW  Make_Chevrolet  Make_Chrysler  Make_Dodge  \
ID
0        31909    MD         0               0              0           0
1         5362    FL         0               0              0           0
2        50300    OH         0               0              0           0
3       132160    WA         1               0              0           0
4        25226    MA         0               0              0           0
...        ...   ...       ...             ...            ...         ...
99995    82719    TX         0               0              0           0
99996    19711    UT         1               0              0           0
99997    48049    CA         0               0              0           0
99998    15306    CO         0               0              0           0
99999    40393    TX         1               0              0           0

       Make_Ford  Make_GMC  Make_Honda  Make_Hyundai  ...  Year_2009  \
ID                                                    ...
0              0         0           0             0  ...          0
1              0         0           0             0  ...          0
2              1         0           0             0  ...          0
3              0         0           0             0  ...          0
4              0         0           0             0  ...          0
...          ...       ...         ...           ...  ...        ...
99995          0         1           0             0  ...          0
99996          0         0           0             0  ...          0
99997          0         0           0             0  ...          0
99998          0         0           0             0  ...          0
99999          0         0           0             0  ...          0

       Year_2010  Year_2011  Year_2012  Year_2013  Year_2014  Year_2015  \
ID
0              0          0          0          0          1          0
1              0          0          0          0          0          0
2              0          0          0          0          1          0
3              0          0          0          0          0          0
4              0          0          0          0          0          1
...          ...        ...        ...        ...        ...        ...
99995          0          0          0          0          0          1
99996          0          0          0          0          0          1
99997          0          0          0          0          0          0
99998          0          0          0          0          0          0
99999          0          0          0          1          0          0

       Year_2016  Year_2017  Year_2018
ID
0              0          0          0
1              0          1          0
2              0          0          0
3              0          0          0
4              0          0          0
...          ...        ...        ...
99995          0          0          0
99996          0          0          0
99997          1          0          0
99998          0          1          0
99999          0          0          0

[100000 rows x 54 columns]

In [24]:
# convertimos la columna 'State' en variables dummy
dummies = pd.get_dummies(dataTesting['State'], prefix='State')
dataTesting = pd.concat([dataTesting, dummies], axis=1)
dataTesting = dataTesting.drop('State', axis=1)
# Muestra el resultado
print(dataTesting)

       Mileage  Make_BMW  Make_Chevrolet  Make_Chrysler  Make_Dodge  \
ID
0        31909         0               0              0           0
1         5362         0               0              0           0
2        50300         0               0              0           0
3       132160         1               0              0           0
4        25226         0               0              0           0
...        ...       ...             ...            ...         ...
99995    82719         0               0              0           0
99996    19711         1               0              0           0
99997    48049         0               0              0           0
99998    15306         0               0              0           0
99999    40393         1               0              0           0

       Make_Ford  Make_GMC  Make_Honda  Make_Hyundai  Make_Jeep  ...  \
ID                                                               ...
0              0         0           0             0          0  ...
1              0         0           0             0          1  ...
2              1         0           0             0          0  ...
3              0         0           0             0          0  ...
4              0         0           0             0          1  ...
...          ...       ...         ...           ...        ...  ...
99995          0         1           0             0          0  ...
99996          0         0           0             0          0  ...
99997          0         0           0             0          0  ...
99998          0         0           0             0          1  ...
99999          0         0           0             0          0  ...

       State_ SD  State_ TN  State_ TX  State_ UT  State_ VA  State_ VT  \
ID
0              0          0          0          0          0          0
1              0          0          0          0          0          0
2              0          0          0          0          0          0
3              0          0          0          0          0          0
4              0          0          0          0          0          0
...          ...        ...        ...        ...        ...        ...
99995          0          0          1          0          0          0
99996          0          0          0          1          0          0
99997          0          0          0          0          0          0
99998          0          0          0          0          0          0
99999          0          0          1          0          0          0

       State_ WA  State_ WI  State_ WV  State_ WY
ID
0              0          0          0          0
1              0          0          0          0
2              0          0          0          0
3              1          0          0          0
4              0          0          0          0
...          ...        ...        ...        ...
99995          0          0          0          0
99996          0          0          0          0
99997          0          0          0          0
99998          0          0          0          0
99999          0          0          0          0

[100000 rows x 104 columns]

### Bagging

### Random Forest

### Adaboost

### Gradient Boosting

### XGBoost

In [14]:
# Predicción del conjunto de test - acá se genera un número aleatorio como ejemplo
np.random.seed(42)
y_pred = pd.DataFrame(np.random.rand(dataTesting.shape[0]) * 75000 + 5000, index=dataTesting.index, columns=['Price'])

In [ ]:
# Guardar predicciones en formato exigido en la competencia de kaggle
y_pred.to_csv('test_submission.csv', index_label='ID')
y_pred.head()